@font-face {
    font-family: "Maximum Voltage";
    src: url("../fonts/Maximum_Voltage_Italic.otf");
}

@font-face {
    font-family: "Power Calm";
    src: url("../fonts/Power_Calm.otf");
}

body {
    margin: 0;
    padding: 0;
}

header {
    display: grid;
    background-color: #1A4B9F;
    grid-template-columns: 1.5fr 0.2fr 5fr 2fr;
}

header a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 20px;
}

header a img {
    border-radius: 100px;
    width: 75px;
    height: 75px;
}

nav {
    display: grid;
    grid-column: 3/4;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: nowrap row;
    gap: 30px;
    list-style: none;
    width: 100%;
    margin: 15px 30px 15px;
}

nav ul li a {
    display: flex;
    padding: 5px;
    color: white;
    text-decoration: none;
    font-family: "Maximum Voltage", serif;
    font-size: 20px;
}

nav ul li a:hover {
    font-size: 25px;
}

#main-project {
    margin: 10px;
    padding: 0;
}

#main-project h1, h2 {
    font-family: "Maximum Voltage", serif;
    justify-content: center;
    text-align: center;
    color: #62C8A2;
    margin: 10px;
    padding: 0;
}

#main-project p, li {
    font-family: "Power Calm", serif;
    justify-content: center;
    text-align: left;
    color: #1A4B9F;
    margin: 0;
    padding: 0;
}

#main-project li {
    color: black;
}

#hero-box {
    grid-row: 1/2;
    padding: 0;
    margin-bottom: 0;
    width: 100%;
    height: 600px;
    position: relative;
    overflow: hidden;
}

#hero-box img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
}

#hero-content {
    margin: 80px;
    height: 350px;
    position: absolute;
    display: grid;
    grid-template: 3fr 2fr 1fr / 1fr 1fr;
    justify-content: space-around;
    z-index: 1;
}

#hero-content h1, p, h3 {
    float: left;
    align-items: center;
    font-family: "Power Calm", serif;
    margin: 10px;
    padding-left: 5px;
}

#hero-content h1 {
    grid-row: 1 / 2;
    padding-right: 150px;
    font-weight: bold;
    font-size: 30px;
}

#hero-content p {
    grid-row: 2/3;
    float: left;
    align-items: unset;
}

#hero-content h3 {
    grid-row: 3/4;
    justify-self: left;
    padding-left: 20px;
}

#hero-content h3 a {
    color: white;
    background-color: #62C8A2;
    border-radius: 30px;
    text-decoration: none;
    padding: 15px 60px 15px;
}

#content-box {
    grid-row: 2/3;
    display: flex;
    flex-flow: nowrap row;
    justify-content: space-evenly;
    /*align-items: center;*/
    margin: 30px;
}

.c-box {
    background-color: #1F70A9;
    color: #ffffff;
    height: 340px;
    width: 286px;
}

#c1 {
    align-self: center;
}

#newsletter {
    grid-row: 3/4;
    background-color: #1A4B9F;
    border: 1px solid yellow;
    color: white;
    display: grid;
    grid-template-rows: 1fr 1fr 3fr 1fr;
}

#newsletter h1, p, form, h3 {
    justify-self: center;
}

#newsletter form {

}

#form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 0 50px 0;
    padding: 0 50px 0;
}

#form-grid label {
    justify-self: center;
    align-self: center;
}

.firstNameText {
    grid-column: 1/2;
    grid-row: 1/2;
}

.firstName {
    grid-column: 2/3;
    grid-row: 1/2;
}

.lastNameText {
    grid-column: 1/2;
    grid-row: 2/3;
}

.lastName {
    grid-column: 2/3;
    grid-row: 2/3;
}

.emailText {
    grid-column: 3/4;
    grid-row: 1/2;
}

.emailBox {
    grid-column: 4/5;
    grid-row: 1/2;
}

.infoButton {
    grid-column: 3/4;
    grid-row: 2/3;
}

.infoText {
    grid-column: 4/5;
    grid-row: 2/3;
}

footer {
    background-color: white;
    display: flex;
    flex-flow: nowrap row;
    justify-content: space-between;
    padding: 10px 100px 10px;
}

#logos {
    display: flex;
    flex-flow: nowrap row;
    justify-content: space-evenly;
    align-items: center;
}

#logos img {
    /*justify-self: center;*/
    /*align-content: center;*/
    border-radius: 50px;
    height: 27px;
    width: 27px;
    margin-left: 2px;
    margin-right: 2px;
}